#container{
    display: flex;
    justify-content: center;
  
  

}
h1 {
    text-align: center;
  }
  
  body {
    background-color: #0d0d0d; /* Soft black */
    color: #ff00cc; /* Neon pink accent */
  }
  .nof{
  display:block;
  text-align: center;


  }
  #main1{
    text-align: center;
  }
  
  
  